POSTGRES_PASSWORD=change-me
CLICKHOUSE_PASSWORD=change-me
RABBITMQ_PASSWORD=change-me

POSTGRES_DB=timelens
POSTGRES_USER=timelens
CLICKHOUSE_DB=timelens
CLICKHOUSE_USER=default
RABBITMQ_USER=guest
RABBITMQ_VHOST=timelens

INSERT_API_TOKEN_ENDPOINT=
INSERT_API_CLIENT_ID=
INSERT_API_CLIENT_SECRET=
INSERT_API_SCOPE=timelens.insert.write

COINBASE_BASE_URL=https://api.exchange.coinbase.com/
ENERGY_CHARTS_BASE_URL=https://api.energy-charts.info/
COIN_METRICS_BASE_URL=https://community-api.coinmetrics.io/v4/

OTEL_ENABLED=true
OTEL_TRACES_SAMPLING_RATIO=1.0
OTEL_EXPORT_LOGS=true
GRAFANA_OTEL_LGTM_VERSION=0.30.1
DEPLOYMENT_ENVIRONMENT=local
