POSTGRES_PASSWORD=change-me
CLICKHOUSE_PASSWORD=change-me
RABBITMQ_PASSWORD=change-me

POSTGRES_DB=timelens
POSTGRES_USER=timelens
CLICKHOUSE_DB=timelens
CLICKHOUSE_USER=default
RABBITMQ_USER=guest
RABBITMQ_VHOST=timelens

INSERT_API_TOKEN_ENDPOINT=
INSERT_API_CLIENT_ID=
INSERT_API_CLIENT_SECRET=
INSERT_API_SCOPE=timelens.insert.write

COINBASE_BASE_URL=https://api.exchange.coinbase.com/
